adafruit_amg88xx
Adafruit_Blinka
adafruit_circuitpython_bme680
adafruit_circuitpython_mpr121
adafruit_mlx90614
adafruit_mpr121
board
Cap1xxx
colour
envirophat
ffpyplayer
keyboard
luma.core
luma.emulator
luma.lcd
numpy
pandas
pcf8575
Pillow
PiPocketGeiger
psutil
PyBluez
pygame>=2.1.0
scipy
sense_hat
simpleaudio
wifi