adafruit-circuitpython-amg88xx
Adafruit_Blinka
adafruit_circuitpython_bme680
adafruit_circuitpython_mpr121
adafruit_mpr121
board
Cap1xxx
colour
envirophat
luma.core
luma.emulator
luma.lcd
numpy
Pillow
psutil
pygame
sense_hat
simpleaudio
wifi
pymediainfo
